{% extends "blog/base.html" %}
{% block content %}
        <article class="media content-section">
            <img class="rounded-circle account-img" id="currentPhoto" src="{{ item.image.url }}"
                 onerror="this.onerror=null; this.src='{{ post.author.profile.image.url }}'" alt="" width="100" height="120">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ item.name }}</a>
            </div>
            <h2 class="article-title"> {{ item.price }}</h2>
            <p class="article-content">{{ item.description }}</p>
          </div>
          <button data-product= {{item.id}} data-action="add"
                            class="btn btn-outline-secondary add-btn update-cart">Add To Cart</button>
        </article>
{% endblock content %}