{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ profile.user }}</h2>
                <p class="text-secondary">{{ profile.name }}</p>
                <p class="article-content">{{ profile.description }}</p>
            </div>
        </div>
    </div>

{% endblock content %}