{% extends "blog/base.html" %}
{% block main %}
<main>
    <div class="row">
        {% for diary in diarys %}
            <div class="col-lg-3">
            <h6><strong>{{diary.name}}</strong></h6>
            <a class="btn btn-outline-success" href="{% url 'diaryitem-add' %}">+</a>
            <hr>
                <div class="col">
                {% for diaryitem in diaryitems  %}
                    {% if diaryitem.diary == diary %}
                        <article class="media content-section">
                            <h6><strong>{{diaryitem.name}}</strong></h6>
                            <hr>
                        </article>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div>
        <a class="btn btn-outline-success" href="{% url 'diary-add' %}">+</a>
        </div>
    </div>
</main>
{% endblock main %}
